.card {
    max-width: 240px;
    background: #fff;
    padding-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cartoon {
    margin-bottom: 10px;
    border-radius: 10px;
    height: 160px;

}

/* .card p {
    flex: 1;
} */

/* .card img {
    width: 100%;
    height: 260px;
} */

/* .features {
    display: flex;
    gap: 32px;
    list-style-type: square;
    color: #0058deed;
}
.badges {
    flex: 1;
} */

.title {
    display: inline-block;
    font-size: 17px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    background: white;
}

.description {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    background: white;
    color: coral;
}

.abode__item-stars:not(:last-child) {
    margin-right: 6px;
}

.steps {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.divider {
    height: 1px;
    width: 50px;
    background: #9d9d9d;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9d9d9d;
    gap: 5px;
}

.step.active {
    color: #1264e0;
}

.step.active > .step_count {
    background-color: #1264e0;
}

.step_count {
    display: flex;
    background: #9d9d9d;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.list__reset {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.abode__star {
    max-width: 100%;
}