.search__wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.label {
    max-width: 100%;
}

.input {
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    color: #000;
    border-radius: 8px;
    padding: 8px 16px;
}