html,
body {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background: #fffaf8;
}

.display_none {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;

  border-bottom: 1px solid #e0dada;
}

/* .logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: bold;
} */

/* .profile {
  border-radius: 50%;

  width: 40px;
  height: 40px;
}

.profile img {
  width: 100%;
  height: 100%;
} */

main {
  flex: 1 1 0;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;

}

footer {
  display: flex;
  justify-content: center;
  gap: 96px;

  height: 50px;

  padding: 24px 0 48px;
  color: #b3adad;
}

.corporation {
  align-self: flex-end;
}